@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@1,100&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  
}

h1{
  text-shadow: -1px -1px 0 #55868c, 1px -1px 0 #55868c, -1px 1px 0 #55868c, 1px 1px 0 #55868c;
  color: white;
}

p{
  font-family: 'Roboto';
}


@media only screen and (max-width: 425px){
	p{
    font-size: 0.9em;
  }
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Trochut', cursive;
  font-size: 1.5em;
}


* {
  box-sizing: border-box;
}

.buttidybutt {
  cursor: pointer;
  height: 1em;
  font-family: 'Lato', sans-serif;
}
.buttidybutt:hover {
  color: orange;
}

.buttidybuttbutt {
  cursor: pointer;
  height: 1em;
  font-family: 'Lato', sans-serif;
  font-size: 5em;
}
.buttidybuttbutt:hover {
  color: orange;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noScrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.socialIcon:hover {
  fill: orange;
}
