.div1{
  width:200%;
  height: 80px;
  background-color: #E5E1EE;
}
.div2{
  width:200%;
  height: 80px;
  background-color: #DFFDFF;
}
.div3{
  width:200%;
  height: 80px;
  background-color: #90BEDE;
}
.div4{
  width:200%;
  height: 80px;
  background-color: #68EDC6;
}