.ball {
  width: 6px;
  height: 6px;
  border-radius: 7px;
  transition: all .5s;
  transform: rotate(10deg);
}

.ball:hover{
  width: 11px;
  height: 11px;
  border-radius: 11px;
  border: 2px dotted white;
  transition: all .5s;
  box-shadow: 1px 1px 15px 1px black;
  transform: rotate(0deg);
}
