.ball {
  width: 6px;
  height: 6px;
  transition: all .5s;
  transform: rotate(10deg);
}

.ball:hover{
  width: 11px;
  height: 11px;
  border: 2px dotted white;
  transition: all .5s;
  box-shadow: 1px 1px 5px 10px lightgrey;
  transform: rotate(0deg);
}
