.ball {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  transition: all .5s;
}

.ball:hover{
  width: 11px;
  height: 11px;
  border-radius: 11px;
  border: 2px dotted white;
  transition: all .5s;
}
