@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

.text {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 10em;
  margin-top: -100px;
  @media (max-width: 600px) {
    font-size: 5em;
  }
}
.text:hover{
  color: orange;
}
